@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
body{
    font-family: "Azeret Mono", monospace;
}

.first{
    margin-bottom: 1px;

}

/* nav styles starts here*/
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 50px 150px;
    }
    .nav-title{
        font-weight: bolder;
        font-size: 28px;
    }
    nav ul li{
        list-style: none;
    }

    .color-code{
        color: #0D1321;
        margin-right: 550px;
        
    }
     
    .btn-primary{
        /* background-color: #0D1321; */
        font-weight: 600;
        font-size: 20px;
        
        padding: 17px 24px;
        box-sizing: border-box;
        border: 1px solid rgb(13, 19, 33);
        border-radius: 8px;
         opacity: 0.8;

    }
    .developer-main{
        width: 1440px;
height: 852px;


        top: 100px;
bottom: 4462px;
background-image: url(../assets/Hero-bg.png);
background-position: center;
background-repeat: no-repeat;

    }

    .custom{
        width: 998px;
height: 582px;
left: 221px;
right: 221px;
top: 157px;
bottom: 4506px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
    }

    .bc-em{
        background-position: center;
        width: 240.28px;
        margin-right: 90px;
/* height: 240px; */
        margin-top: 300px;
        margin-left: 450px;


    }

    .text-one{
        text-align: center;
        display: flex;
        
    }
    .llll{
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 29px;
        font-weight: 800;
        margin-top: 35px;
        margin-left: 300px;
        text-align: center;
    }
    .p-class{
        width: 852px;
height: 52px;
align-items: center;
        color: rgb(13, 19, 33);
        font-size: 15px;
        font-weight: 500;
        margin-top: 35px;
        margin-left: 300px;
        
        text-align: center;
        display: flex;
    }

    .button-ani{
        font-weight: bold;
        font-size: 20px;
        line-height: 25px;
        color: #FFFFFF;
        padding: 25px 28px;
        border-radius: 8px;
        margin-top: 35px;
        margin-left: 360px;
        background-color: #0D1321
        
        
    }



    /* Big place starts here */

    .big-place{
        width: 1140px;
height: 1395px;
left: 115px;
right: 150px;
top: 990px;
bottom: 2993px;
justify-content: flex-start;
align-items: center;
padding: 80px 97px 80px 97px;
/* position: absolute; */
/* border: 2px solid red; */
background-color: #0D132105;
border-radius: 16px;
margin-left: 108px;
    }
    
/* Big heading Stars Here */
    .big-heading{
       text-align: center;
    }

    .big-why{
        margin-top: 80px;
        color: #0D1321;
        font-size: 32px;
    }

    .big-it{
        margin-top: 33px;
        font-size: 16px;
font-weight: 400;
color: #0D1321;
    }
/* Big heading ends here */


/* First suc start here */

    .big-place .first-succ{
 
        width: 946px;
height: 336px;
display: flex;
padding: 48px;
margin: 32px 0px;
/* border: 2px solid black; */
background-color: #FFFFFF;
border-radius: 16px;

    }

    .first-succ{
        width: 477px;
height: 220px;
display: flex;
margin: 0px 10px;
    }

    .first-succ-head{
        color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
margin-top: 20px;
    }

    .first-succ-para{
   
        margin-top: 30px;
        color: rgb(13, 19, 33);
font-size: 14px;
font-weight: 400;
text-align: left;

    }
    .big-first-button{
        position: static;
width: 150px;
height: 48px;
display: flex;
padding: 12px 20px 12px 20px;
        margin-top: 40px;

    }
    div ul li{
        list-style: none;
        text-decoration: none;
    }

    .big-first-img{
        margin-right: 2px;
    }

    

    .big-place .second-succ {
        width: 946px;
height: 336px;
display: flex;
padding: 48px;
margin: 32px 0px;
/* border: 2px solid black; */
background-color: #FFFFFF;
border-radius: 16px;

    }
    
    .big-second-img{
        margin-right: 40px;

    }

    .second-succ-head{
flex-direction: column;
color: rgba(13, 19, 33, 0.7);
font-size: 24px;
font-weight: 700;
margin-top: 20px;
    }

    .second-succ-para{
        margin-top: 30px;
        color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
    }

    .third-succ{
        width: 946px;
        height: 336px;
        display: flex;
        padding: 48px;
        margin: 32px 0px;
        /* border: 2px solid black; */
        background-color: #FFFFFF;
        border-radius: 16px;
    }


    /* Third page start here */

     .Third-Page{
        /* position: absolute; */
width: 1140px;
height: 777px;
left: 116px;
right: 152px;
top: 2340px;
bottom: 2128px;
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
/* border: 2px solid red; */
margin-top: 108px;
margin-left: 97px;

     }

     .third-page-headline{
        text-align: center;
     }
     .third-headline-h{
color: rgb(13, 19, 33);
font-size: 32px;
font-weight: 800;
margin-top: 80px;
     }

     .third-headline-p{
        color: rgb(13, 19, 33);
font-size: 12px;
font-weight: 400;
margin-top: 40px;

     }

     .youtube-link{
       
        border-radius: 16px;
        margin-right: 100px;
     }

    .for-link{
        position: static;
width: 1140px;
height: 514px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 32px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;
margin-top: 50px;
    }


    /* target page start here */

    /* .last-part{
        width: 1440px;
        height: 642px;
        left: 150px;
        right: 150px;
        top: 3266px;
        bottom: 537px;
        display: flex;
        flex-direction: column;       
        padding: 0px;
        margin: 0 auto;
        margin-top: 108px;
    } */


        .last-part{
            margin-left: 93px;
            margin-bottom: 80px;
            width: 1140px;
height: 463px;
display: flex;
flex-direction: column;
align-items: center;
padding: 0;
/* border: 2px solid red; */

        }
    /* .third-page-headline{
        margin-right: 1500px;
    } */

    .last-part-head{

    }

    .tergets{
    
display: inline-flex;
width: 364px;
height: 300px;
border-radius: 16px;
        background-color: #FF4C1E0D;
        margin-left: 4px;
        margin-right: 3px;
    }

    .terget-image{
        margin-top: 40px;
        margin-left: 40px;
    }

    .terget-h{
        margin-top: 20px;
        margin-left: 40px;
    }

    .terget-p{
        margin-top: 20px;
        margin-left: 40px;
    }

    .terget-button{
        margin-top: 20px;
        margin-left: 40px;
    }

    .mother{
        display: inline-block;
        margin-top: 50px;
        
    }

    .tergets-html{
        display: inline-flex;
        width: 364px;
        height: 300px;
        border-radius: 16px;
                background-color: #FF4C1E0D;
                margin-left: 4px;
                margin-right: 3px;
                 
    }

    .tergets-html-one{

        display: inline-flex;
width: 364px;
height: 300px;
border-radius: 16px;
        background: rgba(255, 76, 30, 0.05);
        background-color: #FF4C1E0D;
        margin-left: 4px;
        margin-right: 3px;
    }

    .tergets-css-one{
        display: inline-flex;
width: 364px;
height: 300px;
border-radius: 16px;
background: rgba(0, 76, 232, 0.05);
background-color: #004CE80D;
        margin-left: 4px;
        margin-right: 3px;
    }

    .tergets-js-one{
        display: inline-flex;
width: 364px;
height: 300px;
border-radius: 16px;
background: rgba(255, 223, 0, 0.05);
background-color: #FFDF000D;
        margin-left: 4px;
        margin-right: 3px;
    }
 
 
    .last-option{
        margin-left: 100px;
        width: 1130px;
height: 246px;
display: flex;
flex-direction: column;
justify-content: center;
/* align-items: center; */
padding: 0px;
background-image: url(../assets/handshake.jpg);
background-color: rgb(54, 34, 34);
background-blend-mode: overlay;
background-position: center;
border-radius: 16px;
    }

     .dami-h{
        margin-left: 400px;
        margin-top: 5px;
        color: rgb(255, 255, 255);
     }

     .hummy-p{
        color: rgb(255, 255, 255);
        margin-top: 20px;
        margin-left: 300px;
     }

     .feedbac{
        width: 548px;
height: 57px;
margin-top: 40px;
margin-left: 170px;
     }


     .now{
        width: 120px;
height: 58px;
border-radius: 8px;
background: rgb(255, 255, 255);
     }


     div li{
        list-style: none;
        text-decoration: none;
        text-decoration-style: none;
     }

     /* .area-last{
        display: flex;
        align-items: center;
        justify-content: space-between;
     } */


            .icon{
                margin-left: 95px;
                margin-top: 20px;
                width: 1140px;
height: 100px;
top: 5145px;
/* display: flex; */
/* flex-direction: column; */
/* justify-content: center; */
border-radius: 16px;
background: rgba(13, 19, 33, 0.03);
/* border: 2px solid red; */
            }

     /* .lik{
        list-style: none;
        text-decoration: none;
        margin-left: 850px;
     } */

     /* .like-two{
        list-style: none;
        text-decoration: none;
        margin-left: 1100;
     } */

     .maraton{
        margin-left: 950px;
     }
        
     }

     /* .marathon-two{
        margin-left: 1020px;
        margin-bottom: 20px;
     } */

     /* .leatest-h{
        margin-top: 20px;
     } */

   .last-abd{
    width: 390px;
height: 24px;
font-size: 50px;
margin-top: 20px;
   }